@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@media screen and (min-width: 450px) {
.layer.one {
width: 100%;
height: 100%;
background: url("https://i.pinimg.com/originals/05/34/63/053463d7845b32acb0706681807523e7.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.layer.two {
background: url("https://images.unsplash.com/photo-1492892132812-a00a8b245c45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.layer.three {
background: url("https://images.unsplash.com/photo-1449157291145-7efd050a4d0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.layer.four {
background-color: #000;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.layer.five {
background: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
background-repeat: no-repeat;
background-size: cover; 
background-position: left;
}

.layer.six {
background: url(https://images.unsplash.com/photo-1498354136128-58f790194fa7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
background-repeat: no-repeat;
background-size: cover; 
background-position: left;
}

.layer.seven {
background: url(https://images.unsplash.com/photo-1498612753354-772a30629934?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80);
background-repeat: no-repeat;
background-size: cover; 
background-position: left;
}

.layer.eight {
background: url(https://cutewallpaper.org/21/gif-background-hd/Space-Stars-Black-Background-Gif-1920x1080-.gif);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.layer.nine {
background: url(https://images.unsplash.com/photo-1535083252457-6080fe29be45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
} 


.img-container {
width: 960px;
height: 300px;
margin: auto;
display: flex;
color: #fff;
border: 0.4rem solid #fff;
text-transform: uppercase;
}

#compList p {
text-decoration: none;
margin-bottom: 2%;
font-size: 3em;

}

#ssm, #slpa, #ecc {
width: 320px;
height: 300px;
/* position: absolute; */
z-index: 999;
} 

.jobBlocks {
text-align: center;
width: 320px;
opacity: 1;
z-index: 99999;
}

.jobOne, .jobTwo, .jobThree {
position: relative;
display: inline-block;   
width: 320px;
background-color: black;

}

.jobOne p, .jobTwo p, .jobThree p{
color: white;
font-size: 18pt;
font-family: 'Exo 2', sans-serif;
}

#ssm:hover, #ecc:hover, #slpa:hover {
transition: all 0.5s ease-in-out;
opacity: 0;
}


.kontext {
width: 100%;
height: 100%;
}

.kontext .layer {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
visibility: hidden;
box-shadow: 0px 0px 120px rgba( 0, 0, 0, 0.8 );
}

.kontext .layer.show {
visibility: visible;
}

.kontext.capable {
-webkit-perspective: 1000px;
-moz-perspective: 1000px;
perspective: 1000px;

-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.kontext.capable .layer {
-webkit-transform: translateZ( -100px );
-moz-transform: translateZ( -100px );
transform: translateZ( -100px );
}

.kontext.capable .layer.show {
-webkit-transform: translateZ( 0px );
-moz-transform: translateZ( 0px );
transform: translateZ( 0px );
}

.kontext.capable.animate .layer.show.right {
-webkit-animation: show-right 1s forwards ease;
-moz-animation: show-right 1s forwards ease;
animation: show-right 1s forwards ease;
}

.kontext.capable.animate .layer.hide.right {
-webkit-animation: hide-right 1s forwards ease;
-moz-animation: hide-right 1s forwards ease;
animation: hide-right 1s forwards ease;
}

.kontext.capable.animate .layer.show.left {
-webkit-animation: show-left 1s forwards ease;
-moz-animation: show-left 1s forwards ease;
animation: show-left 1s forwards ease;
}

.kontext.capable.animate .layer.hide.left {
-webkit-animation: hide-left 1s forwards ease;
-moz-animation: hide-left 1s forwards ease;
animation: hide-left 1s forwards ease;
}

@-webkit-keyframes show-right {
0%   { -webkit-transform: translateZ( -200px ); }
40%  { -webkit-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
100% { -webkit-transform: translateZ( 0px ); }
}

@-webkit-keyframes hide-right {
0%   { -webkit-transform: translateZ( 0px ); visibility: visible; }
40%  { -webkit-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
100% { -webkit-transform: translateZ( -200px ); visibility: hidden; }
}

@-moz-keyframes show-right {
0%   { -moz-transform: translateZ( -200px ); }
40%  { -moz-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
100% { -moz-transform: translateZ( 0px ); }
}

@-moz-keyframes hide-right {
0%   { -moz-transform: translateZ( 0px ); visibility: visible; }
40%  { -moz-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
100% { -moz-transform: translateZ( -200px ); visibility: hidden; }
}

@keyframes show-right {
0%   { transform: translateZ( -200px ); }
40%  { transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
100% { transform: translateZ( 0px ); }
}

@keyframes hide-right {
0%   { transform: translateZ( 0px ); visibility: visible; }
40%  { transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
100% { transform: translateZ( -200px ); visibility: hidden; }
}


@-webkit-keyframes show-left {
0%   { -webkit-transform: translateZ( -200px ); }
40%  { -webkit-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
100% { -webkit-transform: translateZ( 0px ); }
}

@-webkit-keyframes hide-left {
0%   { -webkit-transform: translateZ( 0px ); visibility: visible; }
40%  { -webkit-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
100% { -webkit-transform: translateZ( -200px ); visibility: hidden; }
}

@-moz-keyframes show-left {
0%   { -moz-transform: translateZ( -200px ); }
40%  { -moz-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
100% { -moz-transform: translateZ( 0px ); }
}

@-moz-keyframes hide-left {
0%   { -moz-transform: translateZ( 0px ); visibility: visible; }
40%  { -moz-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
100% { -moz-transform: translateZ( -200px ); visibility: hidden; }
}

@keyframes show-left {
0%   { transform: translateZ( -200px ); }
40%  { transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
100% { transform: translateZ( 0px ); }
}

@keyframes hide-left {
0%   { transform: translateZ( 0px ); visibility: visible; }
40%  { transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
100% { transform: translateZ( -200px ); visibility: hidden; }
}

.kontext .layer .dimmer {
display: block;
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
visibility: hidden;
background: transparent;
}

.kontext.capable.animate .layer .dimmer {
-webkit-transition: background 1s ease;
-moz-transition: background 1s ease;
transition: background 1s ease;
}

.kontext.capable.animate .layer.hide .dimmer {
visibility: visible;
background: rgba( 0, 0, 0, 0.7 );
}


html,
body {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
overflow: hidden;
}

body {
background-color: #222;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
background-repeat: repeat;
font-size: 16px;
color: #fff;
}

.layer {
text-align: center;
text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.1 );
position: absolute; 
left: 0;
right: 0; 
margin: 15px 0;
padding: 0 5px;
font-family: impact;
text-transform: uppercase;
color: white;
letter-spacing: 1px;
text-shadow:2px 2px 0 #000,
-2px -2px 0 #000,
2px -2px 0 #000,
-2px 2px 0 #000,
0px 2px 0 #000,
2px 0px 0 #000,
0px -2px 0 #000,
-2px 0px 0 #000,
2px 2px 5px #000;
}


.layer h2 {
position: relative;
top: 5%;
width: 100%;
text-align: center;
margin: 0;
font-family: 'Pacifico', cursive;
font-size: 6.25em;
}


#titleContainer {
margin-top: 400px;
}

#titleContainer h3 {
font-size: 3rem;
}

#titleContainer h4 {
font-size: 2rem;
}
.layer ul {
text-align: left;
font-size: 3em;
margin-left: 30%;
}

#pdList{
text-align: center;
width: 60%;
font-size: 18pt;
position: absolute;
left: 17%;
margin-top: 5%;

}

#remember {
text-align: left;
font-size: 50px;
list-style: none;
}
.layer div .intro {
list-style: none;
position: relative;
top: 30%;
width: 100%;
text-align: center;
margin: 0;
}

.iSwearBox {
margin-top: -5%;
}

#noGood{
width: 30%;
}


.layer p {
position: relative;
top: 15%;
margin: 0;
}


.bullets {
position: absolute;
width: 100%;
bottom: 20px;
padding: 0;
margin: 0;
text-align: center;
}

.bullets li {
display: inline-block;
width: 20px;
height: 20px;
border-radius: 50%;
margin: 0 3px;
background: rgba( 255, 255, 255, 0.5 );
box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 );
cursor: pointer;

-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

.bullets li:hover {
background: rgba( 255, 255, 255, 0.8 );
}

.bullets li.active {
cursor: default;
background: #fff;
}



#dd {
width: 400px;
height: auto;
}

div .neon {
font-size: 8rem;
color: #fff;
font-family: Arial, Helvetica, sans-serif;
border: 2px solid whitesmoke;
padding: 30px;
border-radius: 25px;
width: 960px;
margin: 0px auto;
text-shadow:
0 0 5px #fff,
0 0 10px #fff,
0 0 20px #fff,
0 0 40px #0ff,
0 0 80px #0ff,
0 0 90px #0ff,
0 0 100px #0ff,
0 0 130px #0ff;
}

.sorted, .schooled {
width: 80%;
margin-left: 10%;

}

.sorted img {
width: 250px;
float: left;
}
.schooled img {
width: 250px;
float: right;
}

.sorted ul li, .schooled ul li, #target_comp ul li {
font-size: 1.5rem;
left: 0;
}
.schooled ul li, #target_comp ul li {
margin-left: -40%;
}
.sorted h4, .schooled h4 {
font-size: 4rem;
left: 0;
margin-bottom: -3%;
font-family: 'Pacifico', cursive;
text-transform: none;
}

.sorted h4 {
text-align: left;
}

.schooled h4 {
text-align: right;
}

#target_comp ul li p {
text-shadow: none;
color: rgb(0, 0, 0);
text-transform: none;

}

#whyContain {
text-align: center;
font-size: 2.5rem;
width: 60%;
margin-left: 15%;
border: 3px solid white;
padding: 5%;
border-radius: 25px;
}

#dog1 {
grid-area: dogOne;
}
#dog2 {
grid-area: dogTwo;
}
#dog3 {
grid-area: dogThree;
}
#table {
grid-area: table;
}
.picContainer {
display: grid;
grid-template-columns: 100px 100px 100px;
grid-template-rows: auto;
grid-template-areas: 
"dogOne dogTwo dogThree"
"table table table";
}

#dog1, #dog2, #dog3 { 
width: 15%;
height: auto;
}

#table { 
width: 45%;
height: auto;
} 

#qr {
background-color:  rgba(255, 255, 255, 0.344) ;
}

.layer h2 {
font-size: 6em;
font-family: 'Pacifico', cursive;
text-transform: none;
} 

.AboutUs{
font-family: 'Pacifico', cursive;
text-transform: none;
}
}

@media screen and (max-width: 450px) {
body {
font-size: 12px;
text-align: center;
font-family: sans-serif;
}

.bullets li {
margin: 0 6px;
}

img {
    width: 250px;
    height: auto;
}

h2 {
    font-family: 'Pacifico', cursive;
    margin-bottom: -10%;
}

#titleContainer h3, #titleContainer h4 {
    padding-top: 3%;
}
#titleContainer h2 {
   font-size: 5rem;
   margin-top: 0;
}
.layer {
    padding: 5%;
}

ul li {
    text-decoration: none;
}

.neon {
    padding: 5px;
}

ul.bullets {
    visibility: hidden;
}
}