@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@media screen and (min-width: 450px) {
.layer.one {
width: 100%;
height: 100%;
background: url("https://i.pinimg.com/originals/05/34/63/053463d7845b32acb0706681807523e7.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#titleContainer {
    margin-top: 10%;
    }
    
    #titleContainer h3 {
    font-size: 3rem;
    margin-top: -10px;
    
    }
    
    #titleContainer h4 {
    font-size: 2rem;
    margin-top: -30px;
    }
    
    #titleContainer h2 {
        font-size: 6rem;
    
        }

















.layer.two {
background: url("https://images.unsplash.com/photo-1492892132812-a00a8b245c45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.img-container {
    width: 960px;
    height: 250px;
    margin: auto;
    display: flex;
    color: #fff;
    margin-top: 5%;
    }
    
    #ssm, #slpa, #ecc {
    width: 320px;
    height: 230px;
    z-index: 999;
    } 
    
    .jobBlocks {
    text-align: center;
    width: 320px;
    opacity: 1;
    z-index: 99999;
    }
    
    .jobOne, .jobTwo, .jobThree {
    display: inline-block;   
    width: 320px;
    background-color: transparent;
    }
    
    .borderBox {
    border: 5px solid #fff;
    height: 400px;
    
    }
    .jobOne p, .jobTwo p, .jobThree p{
    color: white;
    width: 310px;
    font-size: 14pt;
    font-family: 'Exo 2', sans-serif;
    }











.layer.three {
    background: url("https://images.unsplash.com/photo-1510070009289-b5bc34383727?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
background-position: center;
background-repeat: repeat;
background-size: cover;
}




















.layer.four {
background-color: #000;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
#proComp {
    font-size: 2.2em; 
    display: inline-block;
    text-align: center;
   width: 960px;
    margin: 0;
    margin-top: 100px;

}

ul#proComp li{
    display: inline;
    margin: 0;
    text-transform: none;
}


















.layer.five {
background: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
background-repeat: no-repeat;
background-size: cover; 
background-position: left;
}

.layer.six {
background: url("https://images.unsplash.com/photo-1498354136128-58f790194fa7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
background-repeat: no-repeat;
background-size: cover; 
background-position: left;
}

.layer.seven {
background: url("https://images.unsplash.com/photo-1498612753354-772a30629934?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80");
background-repeat: no-repeat;
background-size: cover; 
background-position: left;
}

.layer.eight {
background: url("https://cutewallpaper.org/21/gif-background-hd/Space-Stars-Black-Background-Gif-1920x1080-.gif");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.layer.nine {
background: url("https://images.unsplash.com/photo-1535083252457-6080fe29be45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
} 

.kontext {
width: 100%;
height: 100%;
}

.kontext .layer {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
visibility: hidden;
box-shadow: 0px 0px 120px rgba( 0, 0, 0, 0.8 );
}

.kontext .layer.show {
visibility: visible;
}

.kontext.capable {
-webkit-perspective: 1000px;
-moz-perspective: 1000px;
perspective: 1000px;

-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.kontext.capable .layer {
-webkit-transform: translateZ( -100px );
-moz-transform: translateZ( -100px );
transform: translateZ( -100px );
}

.kontext.capable .layer.show {
-webkit-transform: translateZ( 0px );
-moz-transform: translateZ( 0px );
transform: translateZ( 0px );
}

.kontext.capable.animate .layer.show.right {
-webkit-animation: show-right 1s forwards ease;
-moz-animation: show-right 1s forwards ease;
animation: show-right 1s forwards ease;
}

.kontext.capable.animate .layer.hide.right {
-webkit-animation: hide-right 1s forwards ease;
-moz-animation: hide-right 1s forwards ease;
animation: hide-right 1s forwards ease;
}

.kontext.capable.animate .layer.show.left {
-webkit-animation: show-left 1s forwards ease;
-moz-animation: show-left 1s forwards ease;
animation: show-left 1s forwards ease;
}

.kontext.capable.animate .layer.hide.left {
-webkit-animation: hide-left 1s forwards ease;
-moz-animation: hide-left 1s forwards ease;
animation: hide-left 1s forwards ease;
}

@-webkit-keyframes show-right {
0%   { -webkit-transform: translateZ( -200px ); }
40%  { -webkit-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
100% { -webkit-transform: translateZ( 0px ); }
}

@-webkit-keyframes hide-right {
0%   { -webkit-transform: translateZ( 0px ); visibility: visible; }
40%  { -webkit-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
100% { -webkit-transform: translateZ( -200px ); visibility: hidden; }
}

@-moz-keyframes show-right {
0%   { -moz-transform: translateZ( -200px ); }
40%  { -moz-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
100% { -moz-transform: translateZ( 0px ); }
}

@-moz-keyframes hide-right {
0%   { -moz-transform: translateZ( 0px ); visibility: visible; }
40%  { -moz-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
100% { -moz-transform: translateZ( -200px ); visibility: hidden; }
}

@keyframes show-right {
0%   { transform: translateZ( -200px ); }
40%  { transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
100% { transform: translateZ( 0px ); }
}

@keyframes hide-right {
0%   { transform: translateZ( 0px ); visibility: visible; }
40%  { transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
100% { transform: translateZ( -200px ); visibility: hidden; }
}


@-webkit-keyframes show-left {
0%   { -webkit-transform: translateZ( -200px ); }
40%  { -webkit-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
100% { -webkit-transform: translateZ( 0px ); }
}

@-webkit-keyframes hide-left {
0%   { -webkit-transform: translateZ( 0px ); visibility: visible; }
40%  { -webkit-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
100% { -webkit-transform: translateZ( -200px ); visibility: hidden; }
}

@-moz-keyframes show-left {
0%   { -moz-transform: translateZ( -200px ); }
40%  { -moz-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
100% { -moz-transform: translateZ( 0px ); }
}

@-moz-keyframes hide-left {
0%   { -moz-transform: translateZ( 0px ); visibility: visible; }
40%  { -moz-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
100% { -moz-transform: translateZ( -200px ); visibility: hidden; }
}

@keyframes show-left {
0%   { transform: translateZ( -200px ); }
40%  { transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
100% { transform: translateZ( 0px ); }
}

@keyframes hide-left {
0%   { transform: translateZ( 0px ); visibility: visible; }
40%  { transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
100% { transform: translateZ( -200px ); visibility: hidden; }
}

.kontext .layer .dimmer {
display: block;
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
visibility: hidden;
background: transparent;
}

.kontext.capable.animate .layer .dimmer {
-webkit-transition: background 1s ease;
-moz-transition: background 1s ease;
transition: background 1s ease;
}

.kontext.capable.animate .layer.hide .dimmer {
visibility: visible;
background: rgba( 0, 0, 0, 0.7 );

}


html,
body {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
overflow: hidden;
}

.layer {
text-align: center;
text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.1 );
position: absolute; 
left: 0;
right: 0; 
top: 0;
margin: 15px 0;
padding: 0 5px;
font-family: impact;
text-transform: uppercase;
color: white;
letter-spacing: 1px;
text-shadow:2px 2px 0 #000,
-2px -2px 0 #000,
2px -2px 0 #000,
-2px 2px 0 #000,
0px 2px 0 #000,
2px 0px 0 #000,
0px -2px 0 #000,
-2px 0px 0 #000,
2px 2px 5px #000;
}

.layer h2 {
position: relative;
top: 5%;
width: 100%;
text-align: center;
margin: 0;
font-family: 'Pacifico', cursive;
font-size: 4em;
/* background-color: hotpink; */
text-transform: none;
}

/* .layer h2 {
font-size: 3em;
font-family: 'Pacifico', cursive;
text-transform: none;
}  */

.layer ul {
text-align: left;
font-size: 3em;
margin-left: 30%;
}

body {
    background-color: #222;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
    background-repeat: repeat;
    font-size: 16px;
    color: #fff;

    }

.layer p {
position: relative;
/* top: 15%; */
margin: 0;
}


.bullets {
position: absolute;
width: 100%;
bottom: 20px;
padding: 0;
margin: 0;
text-align: right;
}

.bullets li {
display: inline-block;
width: 20px;
height: 20px;
border-radius: 50%;
margin: 0 3px;
background: rgba( 255, 255, 255, 0.5 );
box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 );
cursor: pointer;

-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

.bullets li:hover {
background: rgba( 255, 255, 255, 0.8 );
}

.bullets li.active {
cursor: default;
background: #fff;
}



.fix{
    position:fixed;
    bottom:0px;
    left: 0;
}

div .neon {
  font-size: 80px;
  color: #FFD5FF;
  position: absolute;
  font-family: arial;
  top: 50%;
  left: 50%;
  font-weight: 415;
  letter-spacing: 7px;
  text-shadow: 
  1px 0px 4px #FFD5FF, 
  2px 0px 4px #FFD5FF, 
  3px 0px 4px #FFD5FF, 
  2px 0px 3px #D42CCA, 
  2px 3px 15px #D42CCA, 
  2px 0px 15px, 
  5px 0px 125px, 
  20px 0vw 200px #D42CCA,
  40px 0vw 200px #D42CCA;
  transform: translate(-50%, -50%);
}

.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}

div.sorted h4, div.schooled h4 {
    font-size: 1.5rem;
}
.sorted, .schooled {
width: 80%;
margin-left: 10%;
}

.sorted img {
width: 200px;
float: left;
}

.schooled img {
width: 200px;
float: right;
}

.sorted ul li, .schooled ul li, #target_comp ul li {
font-size: 1rem;
left: 0;
}
.schooled ul li, #target_comp ul li {
margin-left: -50%;
}

.sorted h4, .schooled h4 {
font-size: 4rem;
left: 0;
margin-bottom: -3%;
font-family: 'Pacifico', cursive;
text-transform: none;
}

.sorted h4 {
text-align: left;
}

.schooled h4 {
text-align: right;
}

#target_comp ul li p {
text-shadow: none;
color: rgb(0, 0, 0);
text-transform: none;
background: yellowgreen;

}

.windowOne {
    height: 300px;
    margin: auto;

}
#if {
    padding: 5%;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
}

#dd {
    width: 200px;
    height: auto;
    margin-top: -5%;
    margin-bottom: -30px;
    }

.windowOne h4 {
    font-family: 'Pacifico', cursive;
    text-transform: none;
    font-size: 2rem;
    margin-bottom: 0;
    color: lightblue;
}

 .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

#satya {
    width: 250px;
}

#whyContain h4 {
    font-family: 'Pacifico', cursive;
    color: rgb(131, 187, 0);
}

#whyContain {
    text-transform: none;
text-align: center;
font-size: 2rem;
width: 50%;
height: 30%;
overflow: scroll;
margin-left: 20%;
border: 3px solid white;
padding: 5%;
border-radius: 25px;
overflow-clip-box: hidden;
}

::-webkit-scrollbar {
width: 10px;
visibility: hidden;
}

::-webkit-scrollbar-track {
background: transparent; 
visibility: hidden;

}

::-webkit-scrollbar-thumb {
background: rgba(85, 164, 255, 0); 
visibility: hidden;
}

::-webkit-scrollbar-thumb:hover {
background: rgb(255, 139, 139, 0)
;
visibility: hidden; 
}








#dog1 {
grid-area: dogOne;
}
#dog2 {
grid-area: dogTwo;
}
#dog3 {
grid-area: dogThree;
}
#table {
grid-area: table;
}

.picContainer {
display: grid;
grid-template-columns: 100px 100px 100px;
grid-template-rows: auto;
grid-template-areas: 
"dogOne dogTwo dogThree"
"table table table";
}

#dog1, #dog2, #dog3 { 
width: 15%;
height: auto;
}

#table { 
width: 45%;
height: auto;
} 

#qr {
background-color:  rgba(255, 255, 255, 0.344) ;
width: 30%;
height: auto;
}




}

@media screen and (max-width: 450px) {
body {
font-size: 12px;
text-align: center;
font-family: sans-serif;
}

.bullets li {
margin: 0 6px;
}

img {
    width: 250px;
    height: auto;
}



#titleContainer h3, #titleContainer h4 {
    padding-top: 3%;
}
#titleContainer h2 {
   font-size: 5rem;
   margin-top: 0;
}
.layer {
    padding: 5%;
}

ul li {
    text-decoration: none;
}

.neon {
    padding: 5px;
}

ul.bullets {
    visibility: hidden;
}
}